.container {
  max-width: 700px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__user-data {
  display: flex;
  align-items: center;
  background: #EDEDED;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
  padding: 15px;
  border-radius: 8px;
}

.profile__user-data--vertical {
  flex-direction: column;
}

.profile__user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  user-select: none;
  margin-right: 15px;
}

.profile__user-name {
  font-size: 1.8rem;
}

.profile__user-birth {
  font-size: 1.2rem;
}

.profile__data-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile__data-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__address-item {
  background: white;
  border-radius: 8px;
  padding: 15px;
  border: 2px solid transparent;
  transition: .5s;
}

.profile__address-item--active {
  border: 2px solid blue;
}

.profile__credit-card-item {
  background: white;
  border-radius: 8px;
  padding: 15px;
  border: 2px solid transparent;
  transition: .5s;
}

.profile__credit-card-item--active {
  border: 2px solid blue;
}

