.container {
  
}

.products-list__container {
  display: flex;
  width: 90%;
  margin: 15px auto;
  border: 2px solid black;
  padding: 12px;
  border-radius: 8px;
}

.products-list {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(240px, 1fr));
  justify-content: center;
  gap: 18px 8px;
  flex-wrap: wrap;
}


