.container {
  width: 90%;
  margin: 15px auto;
  border: 2px solid black;
  padding: 12px;
  border-radius: 8px;
}

.products-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(221px, 1fr));
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.product-list__item {
  background: lightgray;
  padding: 8px;
  border-radius: 8px;
  width: 240px;
  box-sizing: border-box;
}

.product-list__item__img {
  width: 100%;
  height: 150px;
}

.product-list__item__title {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-list__item__price {
  font-size: 18px;
  color: white;
  margin-left: auto;
  display: flex;
  padding: 5px;
  background: blue;
  border-radius: 8px;
}

