.help__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;
  background: #f1f3f9;
}

.help__title {
  font-size: 1.75rem;
}

.help__section {
  display: flex;
  flex-direction: column;
  padding: 34px 0 0;
  max-width: 750px;
  min-width: 240px;
  margin: 0 auto;
}

.help__section__title {
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.help__section__list {

}

.help__section__item {
  background: #FFF;
  padding: 15px 60px;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
  margin: 0 auto;
  box-sizing: border-box;
  transition: .5s;
}

.help__section__item:hover {
  background: rgba(0, 0, 0, .04);
}

.help__section__item:hover .help__section__item-title {
  color: #3483fa;
}

.help__section__item:nth-child(1) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.help__section__item:nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
}

.help__section__item:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.help__section__icon {
  position: absolute;
  left: 12px;
  top: 15px;
}

.help__section__item-title {
  transition: .5s;
  font-size: 1.125rem;
  font-weight: bold;
}

.help__section__item-details {
  font-size: 1rem;
  color: #5e636e;
}

.help__section__arrow {
  position: absolute;
  right: 12px;
  top: 15px;
}